*[data-animate] {
    opacity: 0%;
}

@keyframes fade-in {
    from {
        filter: blur(1px);
    } to {
        opacity: 100%;
        filter: blur(0px);
    }
}

@keyframes fade-left {
    from {
        filter: blur(1px);
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-right {
    from {
        filter: blur(1px);
        transform: translate3d(10%, 0, 0);
    } 
    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0 ,0);
    }
}

@keyframes fade-top {
    from {
        filter: blur(1px);
        transform: translate3d(0, 10%, 0);
    } to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-bottom {
    from {
        filter: blur(1px);
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-top-left {
    from {
        filter: blur(1p);
        transform: translate3d(-10%, 10%, 0);
    }
    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-top-right {
    from {
        filter: blur(1p);
        transform: translate3d(10%, 10%, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-bottom-left {
    from {
        filter: blur(1p);
        transform: translate3d(-10%, -10%, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-bottom-right {
    from {
        filter: blur(1p);
        transform: translate3d(10%, -10%, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoom-in {
    from {
        filter: blur(1px);
        transform: scale3d(90%, 90%, 90%);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: scale3d(100%, 100% 100%);
    }
}

@keyframes zoom-out {
    from {
        filter: blur(1px);
        transform: scale3d(110%, 110%, 110%);
    }
    to {
        opacity: 100%;
        filter: blur(0px);
        transform: scale3d(100%, 100%, 100%);
    }

    
}

@keyframes flip-left {
    from {
            opacity: 0%;
            transform: perspective(1000px) rotate3d(0, 1, 0, 80deg);
            transform-style: preserve-3d;
        }
    
        to {
            opacity: 100%;
            transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
            transform-style: preserve-3d;
        }
}

@keyframes flip-right {
    from {
            opacity: 0%;
            transform: perspective(1000px) rotate3d(0, 1, 0, -80deg);
            transform-style: preserve-3d;
        }
    
        to {
            opacity: 100%;
            transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
            transform-style: preserve-3d;
        }
}

@keyframes flip-top {
    from {
        opacity: 0%;
        transform: perspective(1000px) rotate3d(1, 0, 0, 80deg);
        transform-style: preserve-3d;
    }
    to {
        opacity: 100%;
        transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
        transform-style: preserve-3d;
    }
}

@keyframes flip-bottom {
    from {
            opacity: 0%;
            transform: perspective(1000px) rotate3d(1, 0, 0, -80deg);
            transform-style: preserve-3d;
        }
    
        to {
            opacity: 100%;
            transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
            transform-style: preserve-3d;
        }
}

@keyframes rotate-left {
    from {
        opacity: 0%;
        transform: rotate3d(0, 0, 1, 45deg);
    }
    to {
        opacity: 100%;
    }
}

@keyframes rotate-right {
    from {
        opacity: 0%;
        transform: rotate3d(0, 0, 1, -45deg);
    }
    to {
        opacity: 100%;
    }
}

@keyframes blur {
    from {
        filter: blur(7.5px);
    }

    to {
        filter: blur(0px);
        opacity: 100%;
    }
}

@keyframes jump {
    0% {
        opacity: 0%;
    }
    50% {
        transform: translate3d(0, -5%, 0);
    }
    100% {
        opacity: 100%;
    }
}

@keyframes pulse {
    0% {
        opacity: 0%;
    }
    50% {
        transform: scale3d(105%, 105%, 105%);
    }
    100% {
        opacity: 100%;
    }
}

@keyframes squish {
    0% {
        opacity: 0%;
    }
    50% {
        transform: scale3d(110%, 90%, 100%);
    }
    100% {
        opacity: 100%;
    }
}