*[data-animate] {
    opacity: 0%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(1px);
    } to {
        opacity: 100%;
        filter: blur(0px);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: translate3d(10%, 0, 0);
    } 
    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0 ,0);
    }
}

@keyframes fade-top {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: translate3d(0, 10%, 0);
    } to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-bottom {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: scale3d(90%, 90%, 90%);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
        transform: scale3d(100%, 100% 100%);
    }
}

@keyframes zoom-out {
    from {
        opacity: 0;
        filter: blur(1px);
        transform: scale3d(110%, 110%, 110%);
    }
    to {
        opacity: 100%;
        filter: blur(0px);
        transform: scale3d(100%, 100%, 100%);
    }

    
}

.fade-in {
    animation: fade-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fade-left {
    animation-name: fade-left;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fade-right {
    animation-name: fade-right;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fade-top {
    animation-name: fade-top;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fade-bottom {
    animation-name: fade-bottom;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.zoom-in {
    animation-name: zoom-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.zoom-out {
    animation: zoom-out;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}